---
import DefaultLayout from '../layouts/DefaultLayout.astro'
import Hero from '../components/Hero.astro'
import Feature from '../components/Feature.astro'
import Counter from '../components/Counter.astro'
import ContentMedia from '../components/ContentMedia.astro'
---

<DefaultLayout title="Urgent Care of Twin Falls">
  <Hero title="Urgent Care of Twin Falls: Better Care Today" subtitle="Discover exceptional urgent care services in Twin Falls, Idaho. We treat injuries, illnesses, and more with compassion and expertise. Visit us today or call (208) 733-6700." />
  <section class="my-64">
    <div class="container">
      <h2 class="mb-16 text-6xl">Our Services</h2>
      <div class="grid grid-cols-1 gap-12 md:grid-cols-2 lg:grid-cols-3">
        <Feature icon="mdi:hospital-building" title="Minor Injuries">
          Ready to assist with sprains, fractures, burns, and more to help you recover quickly.
        </Feature>
        <Feature icon="mdi:thermometer-lines" title="Illness Treatment">
          Effective treatment for colds, flu, fevers, and more, ensuring your health is promptly restored.
        </Feature>
        <Feature icon="mdi:syringe" title="Preventative Care & Vaccinations">
          Stay protected with our comprehensive vaccination and preventive health services.
        </Feature>
        <Feature icon="mdi:account-child" title="Pediatric Care">
          Specialized care for children, providing a comforting and thorough approach to their health needs.
        </Feature>
        <Feature icon="mdi:stethoscope" title="Diagnostic Services">
          In-house diagnostic tests for a quick and accurate understanding of your health concerns.
        </Feature>
      </div>
    </div>
  </section>
  <ContentMedia imgSrc="./Dr-DC-with-Patient.png">
    <h2>Meet Our Caring Team</h2>
    <p class="text-2xl">
      Led by Dr. David Christensen and Chuck Davis, our team is dedicated to providing expert and compassionate care.
    </p>
  </ContentMedia>
  <ContentMedia imgSrc="./location-front.png" reverseImg={true}>
    <h2 id="location">Where to Find Us</h2>
    <p class="text-2xl">
      Conveniently located at 260 Falls Avenue, Twin Falls, Idaho. <br>
      Open Monday through Friday, 8:00 am – 5:00 pm.
    </p>
    <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d2937.9623927753546!2d-114.47637859999999!3d42.5773207!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x54aca2457605db65%3A0x24920c41025270b7!2s260%20Falls%20Ave%2C%20Twin%20Falls%2C%20ID%2083301!5e0!3m2!1sen!2sus!4v1726347046896!5m2!1sen!2sus" width="600" height="400" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
  </ContentMedia>
  <section class="mb-32 mt-64">
    <div class="container">
      <h2 class="mb-16 text-6xl">Why Choose Us?</h2>
      <div class="grid grid-cols-1 gap-12 sm:grid-cols-2 md:grid-cols-4">
        <Counter count="15+" title="Years of Experience" sub="Trusted Healthcare" />
        <Counter count="Original" title="Local Legacy" sub="First Urgent Care in Twin Falls" />
        <Counter count="Mon-Fri" title="Availability" sub="8am-5pm Walk-ins & Appointments" />
        <Counter count="High" title="Satisfaction Rate" sub="Patient Feedback" />
      </div>
    </div>
  </section>
</DefaultLayout>