---
import Navigation from '../components/Navigation.astro'
import { SkipLinks } from 'accessible-astro-components'
import { Icon } from 'astro-icon/components'
---

<header>
  <SkipLinks />
  <Navigation>
    <li class="menu-item">
      <a href="tel:2087336700" class="call-icon flex items-center">
        <Icon name="mdi:phone" class="text-xl" />208-733-6700
      </a>
    </li>
    <li class="menu-item">
      <a href="/#location">Location</a>
    </li>
    <li class="menu-item has-dropdown">
      <button aria-haspopup="true" aria-expanded="false">About</button>
      <ul class="dropdown-menu">
        <li class="submenu-item">
          <a href="/team/">Urgent Care Team</a>
        </li>
        <li class="submenu-item">
          <a href="https://www.imspineortho.com/" title="Go to the Intermountain Spine & Orthopedics">
            IMSpine & Ortho
          </a>
        </li>
      </ul>
    </li>
    <li class="menu-item has-dropdown">
      <button aria-haspopup="true" aria-expanded="false">Services</button>
      <ul class="dropdown-menu">
        <li class="submenu-item">
          <a href="/Services/Injuries/">Injuries</a>
        </li>
          <a href="/Services/Illnesses/">Illness Treatment</a>
        </li>
        <li class="submenu-item">
          <a href="/Services/Diagnostics/">Diagnostics</a>
        </li>
        <li class="submenu-item">
          <a href="/Services/Physicals-Wellness-Checkups/">Physicals & Wellness Checkups</a>
        </li>
        <li class="submenu-item">
          <a href="/Services/X-ray-Imaging/">X-ray & Imaging Services</a>
        </li>
        <li class="submenu-item">
          <a href="/Services/Work-Related-Medical/">Work-Related Medical</a>
        </li>
      </ul>
    </li>
  </Navigation>
</header>

<style lang="scss" is:global>
  @use '../assets/scss/base/outline' as *;

  header {
    .type-icon a {
      display: block;

      [data-icon] {
        height: auto;
        margin-top: -4px;
        width: 30px;

        path {
          fill: var(--action-color);
        }
      }

      &:hover {
        [data-icon] path {
          fill: var(--action-color-state);
        }
      }
    }
  }
</style>
